frontendapp/node_modules
frontendapp/.pnp
frontendapp/.pnp.js
frontendapp/coverage
frontendapp//build
frontendapp/.DS_Store
frontendapp/.env.local
frontendapp/.env.development.local
frontendapp/.env.test.local
frontendapp/.env.production.local
frontendapp/npm-debug.log*
frontendapp/yarn-debug.log*
frontendapp/yarn-error.log*
